$color-light-green:rgb(126,213,111);
$color-dark-green:rgb(40, 180, 133);
$color-white:#fff;
$color-grey:grey;
$color-black:#0000;
$color-orange:#ffb900;
$color-light-grey:#f7f7f7;
$color-blue:rgb(100, 199, 245);

$margin-bottom-small:1.5rem;
$margin-bottom-medium:4rem; 
$grid-horizontal-margin:3rem;
$margin-bottom-large:6rem; 