.margin-bottom-small{
    margin-bottom: $margin-bottom-small;
}

.margin-bottom-medium{
    margin-bottom: $margin-bottom-medium;
}

.margin-bottom-large{
    margin-bottom: $margin-bottom-large;
}

.heading--center{
    text-align: center;
} 
.color--white {
    color:$color-white;
}